@import url("https://fonts.googleapis.com/css2?family=Bowlby+One&display=swap");

:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
    background-color: #424242;
}

body {
    font-family: "Archivo Black", sans-serif;
}

/*Título home*/
h1 {
    font-family: "Bowlby One", sans-serif;
    font-size: 2.5rem;
    color: rgb(56, 55, 55);
    letter-spacing: 15px;
    margin-right: 5rem;
}

/*RESPONSIVE*/
@media screen and (max-width: 768px) {
    h1 {
        font-size: 2.5rem;
        letter-spacing: 5px;
        margin: 1rem 5rem;
    }
}
